html {
    background-color: rgb(228, 228, 228);
}

.title {
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 20px 0px;
}

.title a {
  text-decoration: none;
  color: black;
}

.title a:hover {
  text-decoration: none;
}

body { 
  background: rgb(205,0,255);
  background: linear-gradient(90deg, rgba(205,0,255,1) 0%, rgba(255,0,44,1) 100%);
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #111111;
}
.navbar li {
    float: left;
    width: 25%;
}
.navbar li a, .dropbtn {
    display: ruby-base-container;
    color: white;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 60, 255);
}
  
li.dropdown {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  width: inherit;
  box-shadow: 0px 14px 50px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 560px) {
  body {
    background-color: blue;
  }

  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 440px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
    .dropdown-content {
        font-size: 10%;
    }
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Slutet av titel & navbar*/

.flexbox {
    display: flex;
  }
  
.flexbox div {
    padding: 20px 5px 20px 5px;
    max-width: 50%;
}

.flexbox-img {
    height: 100%;
}

.flexbox-text {
    font-size: 25px;
    font-family: monospace;
}

.flexbox-img {

  margin-left: auto;

  margin-right: auto;

  position: relative;

  max-width: 50%;

}

.slider-button {

  border: 1px;

  display: inline-block;

  padding: 10px 10px;

  vertical-align: middle;

  overflow: hidden;

  text-decoration: none;

  color: navy;

  background-color: rgba(255, 255, 255, 0.3);

  text-align: center;

  cursor: pointer;

  white-space: nowrap;

  position: absolute;

  top: 50%;

  transform: translate(0%, -50%);

  -ms-transform: translate(0%, -50%);


}

.slider-button:hover {

  color: white;

  background-color:navy;

}

@media screen and (max-width: 600px) {
  .slider-button {
      padding: 25px 25px;
      /*Gör knapparna större så att det är lättare att trycka på de på mindre skärmar*/
  }
}

.display-left {

  left: 1%;

  border-radius: 0 15px 15px 0;

}

.display-right {

  right: 1%;

  border-radius: 15px 0 0 15px;

}